<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '208487103165-5i8igekkrgeio584fpk9dqlndg0o9jlm.apps.googleusercontent.com',
          scope: 'openid'
        });
      });
    }
  </script>
  <title>Document</title>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '1324930041003298',
        cookie: true,
        xfbml: true,
        version: 'v4.0'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      FB.api('/me', function(response) {
        $.ajax({
          type: 'POST',
          url: '/fbconnect',
          processData: false,
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          data: access_token,
          success: function(result) {
            if (result) {
              $('#siresult').html('redirecting...')
              setTimeout(function() {
                window.location.href = '/categories';
              }, 3000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            }
          }
        });
      });
    };
  </script>
  {% block body %}{% endblock %}
  <div id="siresult"></div>
  <script>
    function signInCallBack(authResult) {
      if (authResult['code']) {
        $.ajax({
          type: 'POST',
          url: '/goog',
          processData: false,
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          data: authResult['code'],
          success: function(result) {
            if (result) {
              $('#siresult').html('redirecting...')
              setTimeout(function() {
                window.location.href = '/categories';
              }, 3000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            }
          }
        });
      }
      else {
        $('#siresult').html('There was no response from google.');
      }
    }
  </script>
</body>
</html>
