{% extends "base.html" %}

{% block body %}
  <p>current model: (insert some name here)</p>
  <form action="/{{ category_id }}/{{ model_id }}/edit" method="post" id="anmform">
    <label for="modname">update model name: </label>
    <input type="text" id="modname" name="name" placeholder="new model name">
    <label for="desc">update description: </label>
    <textarea id="desc" name="description" form="anmform" placeholder="current description: "></textarea>
    <input type="submit" value="Update">
  </form>
{% endblock %}
